#sheet {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#workspace {
  width: 100%;
  height: 100%;
  border: 1px solid #6df2ff;
  border-top: none;
  border-left: none;
  background-size: 10px 10px;
  background-color: #ffffff;
  background-image: linear-gradient(to right, #6df2ff 1px, transparent 1px), linear-gradient(to bottom, #6df2ff 1px, transparent 1px);
  transform-origin: 0 0 0;
  transition: transform 0.3s;
  transition-timing-function: ease-in-out;
  transform: translate(0, 0) scale(1);
}

#items {
  list-style: none;
  margin: 0px;
  margin-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  font-size: 17px;
  color: #333333;

}

#menuOptions {
  position: fixed;
  border: 1px solid #B2B2B2;
  width: 150px;
  background: #F9F9F9;
  box-shadow: 3px 3px 2px #E9E9E9;
  border-radius: 4px;
}

li {
  padding: 3px;
  padding-left: 10px;
}


#items :hover {
  color: white;
  background: #284570;
  border-radius: 2px;
}
