.modal {
  position: absolute;
  right: 20px;
  bottom: 12px;
  width: 25%;
  height: 1px;
  background: #fefefe;
  transition: height 0.5s;
  min-width: 350px;
  border-radius: 5px;
  box-shadow: 1px 5px 20px #ababaa;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
}

.modal-title {
  padding: 1em;
  font-size: 1.3em;
  text-transform: capitalize;
}

.tabs-container {
  padding: 1em;
  padding-top: 0;
  height: calc(100% - 4.4em);
}

.tab-headers {
  display: flex;
}

.tab-header {
  height: 30px;
  min-width: 85px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-size: 1em;
  text-transform: capitalize;
  border-radius: 20px;
  border: 1px solid #ababaa;
  cursor: pointer;
}

.tab-header.active {
  background: #e8e8e8;
}

.tab-content {
  height: calc(100% - 6.6em);
  margin: 1em 0;
  border-radius: 5px;
  border: 1px solid #ababaa;
}

.field {
  padding: 0.8em;
  padding-bottom: 0;
  width: 100%;
}

label.data {
  padding-bottom: 0.8em;
}

#editor {
  height: 200px;
}

input[type="text"].input-style {
  width: 39% ;
  margin-right: 15px;
}

.add-key {
  border: 1px solid #ababaa;
  width: 25px;
  height: 25px;
}

.delete-key {
  border: 1px solid red;
  color: red;
}

.save-btn {
  border: 1px solid #4ce67b;
  font-size: 14px;
  color: #4ce67b;
  width: 50px;
  height: 30px;
  background: #ffffff;
  border-radius: 5px;
  margin-left: 1em;
  float: right;
}

.save-btn:hover {
  background: #4ce67b;
  color: #ffffff;
}

.delete-btn {
  border: 1px solid red;
  color: red;
  width: 60px;
}

.delete-btn:hover {
  background: red;
}
