.modal {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 25%;
  height: 1px;
  background: #fefefe;
  transition: height 0.5s;
  min-width: 350px;
  border-radius: 5px;
  box-shadow: 1px 5px 20px #393939;
  transition-timing-function: ease-in-out;
  z-index: 1;
}


.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
}

.displayFlexEnd {
  display: flex;
  justify-content: flex-end;
  padding-top: 7px;
}

.buttonStyle {
  color: red;
  font-weight: bold;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

.displayFlexSpace {
  display: flex;
  align-items: center;
  padding-bottom: 0.8em;
}

.select {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ababaa;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.modal-title {
  padding: 1em;
  font-size: 1.3em;
  text-transform: capitalize;
}

.tabs-container {
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-top: 0;
  box-sizing: border-box;
}

.tab-headers {
  display: flex;
}

.tab-header {
  height: 30px;
  min-width: 85px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  font-size: 1em;
  text-transform: capitalize;
  border-radius: 20px;
  border-top: 1px solid #ababaa;
  border-right: 1px solid #ababaa;
  border-bottom: 1px solid #ababaa;
  cursor: pointer;
}

.tab-header.active {
  background: #ababaa;
}

.tab-content {
  height: calc(100% - 155px);
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ababaa;
}

.field {
  padding: 0.8em;
  padding-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"].inputStyle {
  width: 39% ;
  margin-right: 15px;
}

label.data {
  padding-bottom: 0.8em;
}

#editor {
  height: 200px;
}

.nextButton {
  cursor: pointer;
  float: left;
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.addKey {
  border: 1px solid #dbdbdb;
  padding: 7px;
  font-size: 13px;
}

.deleteKey {
  border: 1px solid red;
  padding: 7px;
  font-size: 12px;
}

.saveButton {
  border: 1px solid #4ce67b;
  padding: 7px;
  font-size: 14px;
  color: #4ce67b;
  float: right;
  margin-right: 11px;
  margin-top: 23px;
}
