@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html,
body {
  margin: 0;
  padding: 0;
}

button {
  background-color: #ffffff;
  border: 1px solid;
  color: black;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

label {
  width: 30%;
  display: inline-block;
}

.textOverflowEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 10px;
}

input[type=text] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #6df2ff;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

#workflow {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
}

div #workflow * {
  box-sizing: border-box;
}
