
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

#workflow {
  position: relative;
  display: block;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
  background: #fff;
  width: calc(100% - 10px);
  height: 600px;
  padding: 5px;
  overflow: hidden;
}

#workflow, #workflow * {
  box-sizing: border-box;
}
